<div ng-app='app.exampleApp' ng-controller='ExampleCtrl'>
<h4> Real Estate Data </h4>

	<div class='row'>
		<div class='col-sm-6'
			<label for="address1">Addresses</label>
			<textarea class="form-control" id="address1" ng-model="address1" placeholder = "Enter Addresses Separated by |"></textarea>
		</div>
		<div class='col-sm-6'
			<label for="address2">Zip Code</label>
			<textarea class="form-control" id="address2" ng-model="address2" placeholder = "Enter Zip Codes Separated by |"></textarea>
		</div>
	</div>
	<br>
	<button type="button" class="btn btn-primary" ng-click="search()">Search</button>
	<br>
	<br>
	<div ng-show="error" class="forecast-errors alert alert-danger alert-dismissible fade in">
    <button type="button" ng-click='clearErrors()' class="close" data-dismiss="alert" aria-label="Close">x</button>
  	{{ error }}
  </div>
<div id="exportable">
	<table ng-show="tableDisplayed" id="real-estate-details" class="table table-bordered table-striped">
    <tr>
      <th>zpid</th>
      <th>Street</th>
      <th>City</th>
      <th>state</th>
      <th>zipcode</th>
      <th>Last Updated</th>
      <th>Zestimate Amount</th>
      <th>Valuation Range High</th>
      <th>Valuation Range Low</th>
      <th>Valuation Change</th>
    </tr>
    <tr ng-repeat="result in results track by $index">
      <td>{{result.zpid}}</td>
      <td>{{result.address.street}}</td>
      <td>{{result.address.city}}</td>
      <td>{{result.address.state}}</td>
      <td>{{result.address.zipcode}}</td>
      <td>{{result.zestimate.last_updated}}</td>
      <td>{{result.zestimate.amount.__content__ | currency}}</td>
      <td>{{result.zestimate.valuationRange.high.__content__ | currency}}</td>
      <td>{{result.zestimate.valuationRange.low.__content__ | currency}}</td>
      <td>{{result.zestimate.valueChange.__content__ | currency}}</td>
    </tr>
  </table>
  </div>
  <div ng-show="tableDisplayed" class='row'>
    <div class='col-sm-4'
      <label for="fileName">File Name</label>
      <input class="form-control" id="fileName" ng-model="fileName"></input>
      <br>
      <button type="button" class="btn btn-primary" ng-click="exportData(fileName)">Export</button>
    </div>
  </div>
</div>
