<div ng-app='app.exampleApp' ng-controller='ExampleCtrl'>
<h4> Real Estate Data </h4>
	<div class='row'>
		<div class='col-sm-6'
			<label for="addresses">Addresses</label>
			<textarea class="form-control" id="addresses"  ng-model="addresses" placeholder = "Enter Addresses"></textarea>
		</div>
	</div>
	<br>
	<button type="button" ng-disabled="disableBtn" class="btn btn-primary" ng-click="search()">Search</button>
	<br>
	<br>
	<div ng-show="error" class="forecast-errors alert alert-danger alert-dismissible fade in">
    <button type="button" ng-click='clearErrors()' class="close" data-dismiss="alert" aria-label="Close">x</button>
  	{{ error }}
  </div>
<div class='row'>
  <div class='col-sm-6'><img ng-show="tableDisplayed" src="http://www.zillow.com/widgets/GetVersionedResource.htm?path=/static/logos/Zillowlogo_200x50.gif" width="200" height="50" alt="Zillow Real Estate Search" /></div>
  <div class='col-sm-6' ng-show="tableDisplayed" >See <a target="_blank" href="http://www.zillow.com/mortgage-calculator/" >mortgage calculator</a> options on Zillow</div>
<br>
<br>
<div id="exportable">
	<table ng-show="tableDisplayed" id="real-estate-details" class="table table-bordered table-striped">
    <tr>
      <th>zpid</th>
      <th>Street</th>
      <th>City</th>
      <th>state</th>
      <th>zipcode</th>
      <th>use code</th>
      <th>Listing Price</th>
      <th>Monthly Principal and Interest</th>
      <th>Monthly Property Tax</th>
      <th>Monthly Hazard Insurance</th>
      <th>Monthly PMI</th>
      <th>Total Monthly Payment</th>
      <th>Total Payment</th>
      <th>Total Interest</th>
      <th>Total Taxes Fees and Insurance</th>
      <th>Zestimate Last Updated</th>
      <th>Zestimate Amount</th>
      <th>Zestimate Valuation Range High</th>
      <th>Zestimate Valuation Range Low</th>
      <th>Zestimate Value Change</th>
      <th>Zestimate Percentile</th>
      <th>Rent Zestimate Amount</th>
      <th>Rent Zestimate Valuation Range High</th>
      <th>Rent Zestimate Valuation Range Low</th>
      <th>Rent Zestimate Value Change</th>
      <th>Rent Zestimate Percentile</th>
      <th>Home Details</th>
      <th>Graphs and Data</th>
      <th>Map this Home</th>
      <th>Tax Assessment Year</th>
      <th>Tax Assessment</th>
      <th>Year Built</th>
      <th>Lot Size Sq Ft</th>
      <th>Finished Sq Ft</th>
      <th>Bathrooms</th>
      <th>Bedrooms</th>
      <th>Total Rooms</th>
      <th>Last Sold Date</th>
      <th>Last Sold Price</th>
    </tr>

    <tr ng-repeat="result in results track by $index">
      <td>{{result.zpid}}</td>
      <td>{{result.street}}</td>
      <td>{{result.city}}</td>
      <td>{{result.state}}</td>
      <td>{{result.zipcode}}</td>
      <td>{{result.use_code}}</td>
      <td>{{result.listing_price | currency}}</td>
      <td>{{result.calculator.monthly_principal_and_interest | currency}}</td>
      <td>{{result.calculator.monthly_property_taxes | currency}}</td>
      <td>{{result.calculator.monthly_hazard_insurance | currency}}</td>
      <td>{{result.calculator.monthly_p_m_i | currency}}</td>
      <td>{{result.calculator.total_monthly_payment | currency}}</td>
      <td>{{result.calculator.total_payments | currency}}</td>
      <td>{{result.calculator.total_interest | currency}}</td>
      <td>{{result.calculator.total_taxes_fees_and_insurance | currency}}</td>
      <td>{{result.zestimate.last_updated}}</td>
      <td>{{result.zestimate.amount | currency}}</td>
      <td>{{result.zestimate.valuation_range_high | currency}}</td>
      <td>{{result.zestimate.valuation_range_low | currency}}</td>
      <td>{{result.zestimate.value_change | currency}}</td>
      <td>{{result.zestimate.percentile}}</td>
      <td>{{result.rent_zestimate.amount | currency}}</td>
      <td>{{result.rent_zestimate.valuation_range_high | currency}}</td>
      <td>{{result.rent_zestimate.valuation_range_low | currency}}</td>
      <td>{{result.rent_zestimate.value_change | currency}}</td>
      <td>{{result.rent_zestimate.percentile}}</td>
      <td><a href={{result.home_details}} target="_blank">link</a></td>
      <td><a href={{result.graphs_and_data}} target="_blank">link</a></td>
      <td><a href={{result.map_this_home}} target="_blank">link</a></td>
      <td>{{result.tax_assessment_year}}</td>
      <td>{{result.tax_assessment | currency}}</td>
      <td>{{result.year_built}}</td>
      <td>{{result.lot_size_sq_ft}}</td>
      <td>{{result.finished_sq_ft}}</td>
      <td>{{result.bathrooms}}</td>
      <td>{{result.bedrooms}}</td>
      <td>{{result.total_rooms}}</td>
      <td>{{result.last_sold_date}}</td>
      <td>{{result.last_sold_price | currency}}</td>
    </tr>
  </table>

  </div>
  <div ng-show="tableDisplayed" class='row'>
    <div class='col-sm-4'
      <label for="fileName">File Name</label>
      <input class="form-control" id="fileName" ng-model="fileName"></input>
      <br>
      <button type="button" class="btn btn-primary" ng-click="exportData(fileName)">Export</button>
    </div>
  </div>
  <br>
  <br>

</div>
