<div ng-app='app.exampleApp' ng-controller='ExampleCtrl'>
<h4> Real Estate Data </h4>
	<div class='row'>
		<div class='col-sm-6'
			<label for="addresses">Addresses</label>
			<textarea class="form-control" id="addresses"  ng-model="addresses" placeholder = "Enter Addresses"></textarea>
		</div>
	</div>
	<br>
	<button type="button" ng-disabled="disableBtn" class="btn btn-primary" ng-click="search()">Search</button>
	<br>
	<br>
	<div ng-show="error" class="forecast-errors alert alert-danger alert-dismissible fade in">
    <button type="button" ng-click='clearErrors()' class="close" data-dismiss="alert" aria-label="Close">x</button>
  	{{ error }}
  </div>
<div class='row'>
  <div class='col-sm-6'><img ng-show="tableDisplayed" src="http://www.zillow.com/widgets/GetVersionedResource.htm?path=/static/logos/Zillowlogo_200x50.gif" width="200" height="50" alt="Zillow Real Estate Search" /></div>
  <div class='col-sm-6' ng-show="tableDisplayed" >
    See <a target="_blank" href="http://www.zillow.com/mortgage-calculator/" >mortgage calculator</a> options on Zillow
  </div>
</div>

<br>
<h5 ng-show="tableDisplayed">{{ listings.length }} / {{formatted_addresses.length}} Results Displayed</h5>
<br>

<div id="exportable">
	<table ng-show="tableDisplayed" id="real-estate-details" class="table table-bordered table-striped">
    <tr>
      <th>zpid</th>
      <th>Street</th>
      <th>City</th>
      <th>state</th>
      <th>zipcode</th>
      <th>use code</th>
      <th>Listing Price</th>
      <th>Date Pulled</th>
      <th>Monthly Principal and Interest</th>
      <th>Monthly Property Tax</th>
      <th>Monthly Hazard Insurance</th>
      <th>Monthly PMI</th>
      <th>Total Monthly Payment</th>
      <th>Total Payment</th>
      <th>Total Interest</th>
      <th>Total Taxes Fees and Insurance</th>
      <th>Zestimate Last Updated</th>
      <th>Zestimate Amount</th>
      <th>Zestimate Valuation Range High</th>
      <th>Zestimate Valuation Range Low</th>
      <th>Zestimate Value Change</th>
      <th>Zestimate Percentile</th>
      <th>Rent Zestimate Amount</th>
      <th>Rent Zestimate Valuation Range High</th>
      <th>Rent Zestimate Valuation Range Low</th>
      <th>Rent Zestimate Value Change</th>
      <th>Rent Zestimate Percentile</th>
      <!-- <th>Home Details</th>
      <th>Graphs and Data</th>
      <th>Map this Home</th> -->
      <th>Tax Assessment Year</th>
      <th>Tax Assessment</th>
      <th>Exterior Material</th>
      <th>Parking Type</th>
      <th>Heating Sources</th>
      <th>Cooling System</th>
      <th>Appliances</th>
      <th>Floor Covering</th>
      <th>Num Units</th>
      <th>Heating System</th>
      <th>Num Floors</th>
      <th>Covered Parking Spaces</th>
      <th>Rooms</th>
      <th>View</th>
      <th>Year Built</th>
      <th>Lot Size Sq Ft</th>
      <th>Finished Sq Ft</th>
      <th>Bathrooms</th>
      <th>Bedrooms</th>
      <th>Total Rooms</th>
      <th>Last Sold Date</th>
      <th>Last Sold Price</th>
    </tr>

    <tr ng-repeat="listing in listings track by $index">
      <td>{{listing.zpid}}</td>
      <td>{{listing.street}}</td>
      <td>{{listing.city}}</td>
      <td>{{listing.state}}</td>
      <td>{{listing.zipcode}}</td>
      <td>{{listing.use_code}}</td>
      <td>{{listing.listing_price | currency}}</td>
      <td>{{date | date:'yyyy-MM-dd'}}</td>
      <td>{{listing.calculator.monthly_principal_and_interest | currency}}</td>
      <td>{{listing.calculator.monthly_property_taxes | currency}}</td>
      <td>{{listing.calculator.monthly_hazard_insurance | currency}}</td>
      <td>{{listing.calculator.monthly_p_m_i | currency}}</td>
      <td>{{listing.calculator.total_monthly_payment | currency}}</td>
      <td>{{listing.calculator.total_payments | currency}}</td>
      <td>{{listing.calculator.total_interest | currency}}</td>
      <td>{{listing.calculator.total_taxes_fees_and_insurance | currency}}</td>
      <td>{{listing.zestimate.last_updated}}</td>
      <td>{{listing.zestimate.amount | currency}}</td>
      <td>{{listing.zestimate.valuation_range_high | currency}}</td>
      <td>{{listing.zestimate.valuation_range_low | currency}}</td>
      <td>{{listing.zestimate.value_change | currency}}</td>
      <td>{{listing.zestimate.percentile}}</td>
      <td>{{listing.rent_zestimate.amount | currency}}</td>
      <td>{{listing.rent_zestimate.valuation_range_high | currency}}</td>
      <td>{{listing.rent_zestimate.valuation_range_low | currency}}</td>
      <td>{{listing.rent_zestimate.value_change | currency}}</td>
      <td>{{listing.rent_zestimate.percentile}}</td>
      <!-- <td><a href={{listing.home_details}} target="_blank">link</a></td>
      <td><a href={{listing.graphs_and_data}} target="_blank">link</a></td>
      <td><a href={{listing.map_this_home}} target="_blank">link</a></td> -->
      <td>{{listing.tax_assessment_year}}</td>
      <td>{{listing.tax_assessment | currency}}</td>
      <td>{{listing.exterior_material}}</td>
      <td>{{listing.parking_type}}</td>
      <td>{{listing.heating_sources}}</td>
      <td>{{listing.cooling_system}}</td>
      <td>{{listing.appliances}}</td>
      <td>{{listing.floor_covering}}</td>
      <td>{{listing.num_units}}</td>
      <td>{{listing.heating_system}}</td>
      <td>{{listing.num_floors}}</td>
      <td>{{listing.covered_parking_spaces}}</td>
      <td>{{listing.rooms}}</td>
      <td>{{listing.view}}</td>
      <td>{{listing.year_built}}</td>
      <td>{{listing.lot_size_sq_ft}}</td>
      <td>{{listing.finished_sq_ft}}</td>
      <td>{{listing.bathrooms}}</td>
      <td>{{listing.bedrooms}}</td>
      <td>{{listing.total_rooms}}</td>
      <td>{{listing.last_sold_date}}</td>
      <td>{{listing.last_sold_price | currency}}</td>
    </tr>
  </table>

  </div>
  <div ng-show="tableDisplayed" class='row'>
    <div class='col-sm-4'
      <label for="fileName">File Name</label>
      <input class="form-control" id="fileName" ng-model="fileName"></input>
      <br>
      <button type="button" class="btn btn-primary" ng-click="exportData(fileName)">Export</button>
    </div>
  </div>
  <br>
  <br>

</div>
