<!DOCTYPE html>
<html>
<head>
  <title>HouseFinder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container-fluid">
	<%= yield %>
	</div>
</body>
<footer>
<div>© Zillow, Inc., 2006-2014. Use is subject to <a target="_blank" href= "http://www.zillow.com/corp/Terms.htm">Terms of Use</a></div>
<div><a target="_blank" href="http://www.zillow.com/zestimate/">What's a Zestimate?</a></div>


</footer>
</html>
